<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalhes da Escola
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="schoolDetails">
    <ion-card-header>
      {{ schoolDetails.noEntidade }}
    </ion-card-header>
    <ion-card-content>
      <p>Endereço: {{ schoolDetails.dsEndereco }}</p>
      <p>Código INEP: {{ schoolDetails.coEntidade }}</p>
      <p>Telefone: {{ schoolDetails.nuTelefone }}</p>
      <p>Rede: {{ schoolDetails.rede }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>